@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari, and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
  
  
      /* Hide scrollbar for IE, Edge, and Firefox */
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    }
  } 

  body{background-color: rgb(177, 205, 255);}

html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  /* background: #f1f1f1;  */
  background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
  /* background: #888;  */
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 111, 111); 
}

